body {
background-color: #E0F5F7;
font-family: Verdana, Arial, sans-serif;
color: #205060;

}

.Title {
text-align: center;
}

#rankings {
margin-left: auto;
margin-right: auto;
padding: 20px;
}

tr {
background-color: white;
}

div {
background-color: white;
text-align: center;
}